body{
    background-image: url("back.jpg");
}

#con{
    text-align: center;
}

#bar{
    display: inline-block;
    font-family: 'Dancing Script', cursive;  
    list-style: none;
    align-items: center;
}

#bar a{
    display: block;
    padding: 20px;
    font-size: 20px;
}
a{
    color: black;
}
#bar a:hover{
    background-color: rgb(160, 196, 238);
    border-radius: 15px;

}

ul{
display: inline;
margin: 100px;
flex-wrap: wrap;
flex-direction: row;
}

li{
font-family: 'Dancing Script', cursive;  
background-color:rgba(157, 216, 231, 0.5);
list-style: none;
margin: 20px;
align-items: center;
}

h1{
    background-color: rgba(157, 216, 231, 0.5); 
    font-family: 'Dancing Script', cursive; 
    padding: 20px;
 
    text-align: center;
    font-weight: bold;
}

.img{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
img:hover{
    border-bottom: black solid 6px;
    border-top: solid black 6px;
    
}
li:hover {
    
    background-size: cover;
    width: 250px;
    height: 250px;
}
p{
    text-align: center;
    font-size: 20px;
}

p#out{
    animation-duration: 3s;
    animation-name: out;
   
} 
